---
import img from "../images/vecna-logo-solo-100.png";
import { Image } from "@astrojs/image/components";
---

<nav
  class="sticky top-0 z-50 mb-10 border-b bg-white sm:relative sm:z-0 sm:block sm:border-0 sm:bg-none"
>
  <div class="bg-white drop-shadow-md sm:block">
    <div class="container mx-auto items-center justify-between md:py-1.5 px-8 py-2 flex relative">
      <a href="/">
        <div class="flex items-center justify-center">
          <Image
            src={img}
            alt="Vecnost logo"
            class="hover:pointer object-contain w-[45px] md:w-[65px]"
            width={65}
            height={65}
          />
          <div
            class="text-2xl font-semibold sm:text-2xl hidden md:block"
            style={{ lineHeight: "0.85" }}
          >
            Baza <br /> Podataka
          </div>
        </div>
      </a>

      <div id="navBtn" data-open="false" class="cursor-pointer space-y-2 md:hidden">
        {
          Array.from({ length: 3 }).map(() => (
            <div class="h-0.5 w-8 bg-secondary-dark transition duration-500 ease-out" />
          ))
        }
      </div>
      <div
        id="navMenu"
        class="md:flex basis-96 md:items-center md:justify-between md:space-x-2 text-xl font-semibold absolute md:static left-0 top-[62px]
         w-screen md:h-auto md:w-auto overflow-hidden translate-x-[-100%] md:translate-y-0  bg-white p-12 md:p-0 transition duration-500 ease-out z-[55]"
      >
        <a class="block uppercase mb-3 md:hidden" href="/">Početna</a>
        <a class="block uppercase md:capitalize mb-3 md:mb-0" href="/pretraga">Pretraga</a>
        <a class="block uppercase md:capitalize mb-3 md:mb-0" href="/statistika">Statistika</a>
        <a class="block uppercase md:capitalize mb-3 md:mb-0" href="/indeks">Indeks</a>
        <a class="block uppercase md:capitalize" href="/mapa">Mapa</a>
      </div>
    </div>
  </div>
</nav>

<script lang="js">
  const navBtn = document.querySelector("#navBtn");
  const navMenu = document.querySelector("#navMenu");
  const first = navBtn.querySelector("div:nth-of-type(1)");
  const second = navBtn.querySelector("div:nth-of-type(2)");
  const third = navBtn.querySelector("div:nth-of-type(3)");

  navBtn.addEventListener("click", () => {
    const navVal = navBtn.getAttribute("data-open");

    if (navVal == "false") {
      navBtn.setAttribute("data-open", "true");

      first.classList.add("translate-y-[10px]", "rotate-45");
      second.classList.add("invisible");
      third.classList.add("translate-y-[-10px]", "rotate-[-45deg]");

      navMenu.classList.remove("translate-x-[-100%]");
    } else {
      navBtn.setAttribute("data-open", "false");

      first.classList.remove("translate-y-[10px]", "rotate-45");
      second.classList.remove("invisible");
      third.classList.remove("translate-y-[-10px]", "rotate-[-45deg]");

      navMenu.classList.add("translate-x-[-100%]");
    }
  });
</script>
