---
import type { IndeksData } from "pages/indeks.astro";
import Sublist from "./Sublist.astro";

interface Props {
  data: IndeksData[];
  title: string;
}

const { data, title } = Astro.props;
---

<div class="mt-5 mb-5 font-serif">
  <h2 class="ml-5 text-3xl">{title}</h2>
  <ul class="mt-2 ml-7 list-inside">
    {data && data.map((entry) => <Sublist entry={entry} />)}
  </ul>
</div>
