---
import type { Region, Okrug, Opstina, Groblje } from "src/types";
import List from "./List.astro";

interface Props {
  entry: Region | Okrug | Opstina | Groblje;
}

const { entry } = Astro.props;
let sublistData: false | Region[] | Okrug[] | Opstina[] | Groblje[] = false;
let sublistName: false | "Okruzi" | "Opštine" | "Groblja" = false;

if ("okrug" in entry) {
  sublistData = entry.okrug;
  sublistName = "Okruzi";
} else if ("opstina" in entry) {
  sublistData = entry.opstina;
  sublistName = "Opštine";
} else if ("groblje" in entry) {
  sublistData = entry.groblje;
  sublistName = "Groblja";
}
---

<>
  {
    sublistName ? (
      <li>
        <details>
          <summary class="ml-2 hover:cursor-pointer">{entry.name}</summary>
          <div>
            {sublistData && <List data={sublistData} title={sublistName} />}
          </div>
        </details>
      </li>
    ) : (
      <li>{entry.name}</li>
    )
  }
</>

<style>
  details summary::marker,
  details summary::-webkit-details-marker {
    font-size: 23px;
  }
</style>
